/* Downloaded fonts from Google */
@font-face {
  font-family: "Young Serif";
  src: url(./fonts/YoungSerif-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

/*Headings*/

h1, h2, h3, h4, h5 {
  font-family: "Young Serif";
  text-align: center;
  margin: 15px;
}

h1 {
  color:blue;
}
h2 {
  color:dodgerblue;
}

/*Body*/

body {
  font-family: "Raleway";
}

/* div classes */

div.writing {
  margin-left: 20px;
  margin-right: 20px;
}

div.center {
  text-align: center;
}

div.padding {
  padding: 10px;
}

hr {
  padding: 2px;
  background-color: blueviolet;
  margin: 25px;
}

/* img effects */
img {
  border-radius: 25px;
  opacity: 1;
  border-style: double;
  border-width: thick;
  border-color: blue;
}

img:hover {
  opacity: 1.5;
  transform: scale(1.5);
  cursor: pointer;
}

/* Video managed in YouTube */
video {
  border-radius: 10px;
}

iframe {
  border-radius: 10px;
  border-style: double;
  border-width: thick;
  border-color: blue;
}

